@import "./variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(
    315deg, #f9484a 0%, #fbd72b 74%); 
    font-family: 'Grape Nuts';    
    margin:2%;

}

a{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
    text-decoration: none;
    font-size:medium;
    font-weight: bold;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style:none; 
    font-size: x-large;           
}

li :hover{
    border-left: solid 10px green;
    cursor:pointer;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: orange;
}

p{
    font-weight: bold;
    font-size: 150%;   
}

.img-nuestrosHuespedes{
    width: 45%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

.galeria-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-direction:row;
    gap: 10px;
}

.grid-explicito{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr; 
    margin:20px;
    padding: 20px;
    }

    .iconos{
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
        }
    
    footer{    
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
         
    }
    
    .section{
        font-size: x-small;
    }
    